body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#0f172a;
  color:white;
  text-align:center;
}

section{
  padding:80px 20px;
}

h1,h2{
  color:#38bdf8;
}

video{
  width:100%;
  max-width:900px;
  display:block;
  margin:0 auto;
}


img{
  width:60%;
  border-radius:10px;
  margin-top:20px;
}

button{
  padding:10px 20px;
  margin:10px;
  border:none;
  border-radius:8px;
  background:#38bdf8;
  cursor:pointer;
  font-weight:bold;
}

input{
  padding:10px;
  width:250px;
  border-radius:5px;
  border:none;
}

/* เอฟเฟกต์เลื่อนแล้วโผล่ */
.fade{
  opacity: 1;
  transform: none;
}

.fade.show{
  opacity:1;
  transform:translateY(0);
}
/* ===== POPUP FIXED FULL SCREEN ===== */
.popup{
  position: fixed;
  inset: 0;              /* แทน top/left/width/height */
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content{
  background:#1e293b;
  padding:40px;
  border-radius:15px;
  text-align:center;
  width:90%;
  max-width:500px;
  box-shadow:0 0 40px #38bdf8;
  animation: pop 0.5s ease;
}

@keyframes pop{
  from{ transform:scale(0.7); opacity:0;}
  to{ transform:scale(1); opacity:1;}
}
.popup-content.correct{
  box-shadow: 0 0 40px #22c55e;
  border: 2px solid #22c55e;
}
.video-small{
  width:80%;          /* ใหญ่ขึ้น */
  max-width:500px;   /* ไม่ให้ใหญ่เกิน */
  display:block;
  margin:20px auto;
  border-radius:0px;
  box-shadow:0 0 40px #000000;
}

.video-section{
  margin-top:-150px;   /* ดันวิดีโอขึ้น */
}
.video-section h2{
  margin-bottom:100px;
}
.video-small{
  margin-top:-10px;   /* ขยับตัววิดีโอขึ้นอีกนิด */
}
.test-section{
  margin-top:-120px;   /* ดันขึ้น */
}

.test-section h2{
  margin-bottom:15px;
}
.info-btn{
  margin-top:20px;
  padding:12px 25px;
  border:none;
  border-radius:10px;
  background:#38bdf8;
  color:#000;
  font-weight:bold;
  cursor:pointer;
}


